<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
<% end %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Persona</h4>
          </div>
          <div class="content">
            <%= form_with(model: person, local: true) do |form| %>
              <% if person.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

                  <ul>
                  <% person.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>RUT</label>
                      <%= form.number_field :rut, id: :person_rut, class: "form-control", placeholder: "12345678"  %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nombre</label>
                    <%= form.text_field :nombre, id: :person_nombre, class: "form-control", placeholder: "Nombre" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Apellido Paterno</label>
                      <%= form.text_field :ap_paterno, id: :person_ap_paterno, class: "form-control", placeholder: "Apellido Paterno" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Apellido Materno</label>
                    <%= form.text_field :ap_materno, id: :person_ap_materno, class: "form-control", placeholder: "Apellido Materno" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Fecha de Nacimiento</label>
                    <%= form.date_select :fecha, id: :person_fecha, :order => [:day, :month, :year],
                                                                    :start_year => 1920,
                                                                    :end_year => 2001,
                                                                    :class => "form-control",
                                                                    :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']
                    %>
                  </div>
                </div>
              </div>

                <%= form.submit value: 'Registrar', class: 'btn btn-info btn-fill pull-right' %>
                <div class="clearfix"></div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






