<div class="content">
            <div class="container-fluid">
                <div class="row">



                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Sucursales</h4>
                                <p class="category">Listado de Sucursales</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>Rut</th>
                                        <th>Nombre</th>
                                        <th>Nro. Fiscal</th>
                                        <th>Teléfono 1</th>
                                        <th>Teléfono 2</th>
                                        <th>Giro</th>
                                        <th>Razón Social</th>
                                        <th>Dirección</th>
                                        <th>Número</th>
                                        <th>Descripción</th>
                                    </thead>
                                    <tbody>
                                        <% @sucursals.each do |sucursal| %>
                                            <tr>
                                                <td><%= sucursal.rut %></td>
                                                <td><%= sucursal.nombre %></td>
                                                <td><%= sucursal.nro_fiscal %></td>
                                                <td><%= sucursal.fono1 %></td>
                                                <td><%= sucursal.fono2 %></td>
                                                <td><%= sucursal.giro_id %></td>
                                                <td><%= sucursal.razon_social %></td>
                                                <td><%= sucursal.direccion %></td>
                                                <td><%= sucursal.numero %></td>
                                                <td><%= sucursal.descripcion %></td>
                                                <td><%= link_to "Editar", edit_sucursal_path(sucursal) %></td>
                                                <td><%= link_to "Eliminar", sucursal, method: :delete, data: { confirm: '¿Estas seguro de eliminar el registro?'}%></td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>