<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
<% end %>
<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Pedido</h4>
                            </div>
                            <div class="content">
                                <!--<form>-->


<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :Cod_usuario %>
    <%= form.number_field :idUsuario, id: :pedido_idUsuario , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :mesa %>
    <%= form.number_field :mesa, id: :pedido_mesa, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :costo %>
    <%= form.number_field :costo, id: :pedido_costo , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :Estado_Comanda %>
    <%= form.number_field :idEstadoComanda, id: :pedido_idEstadoComanda, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :pedido_fecha , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :pedido_descripcion, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit value: 'Registrar', class: 'btn btn-info btn-fill pull-right' %>
    <div class="clearfix"></div>
  </div>
<% end %>
</div>
</div>
</div>
</div>
</div>
</div>