
 <div class="d-flex justify-content-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                           
                            <div class="d-flex justify-content-center">
                              

                                <h2>Inicio de sesión</h2>
                                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                  <div class="field">
                                    <%= f.label :Correo %><br />
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                                  </div>
                                
                                  <div class="field">
                                    <%= f.label :Clave %><br />
                                    <%= f.password_field :password, autocomplete: "current-password" %>
                                  </div>
                                
                                  <% if devise_mapping.rememberable? %>
                                    <div class="field">
                                      <%= f.check_box :remember_me %>
                                      <%= f.label :Recuerdame %>
                                    </div>
                                  <% end %>
                                
                                  <div class="actions">
                                    <%= f.submit "Log in" ,:class=>'btn btn-sucess'%>
                                  </div>
                                <% end %>
                                
                                <%= render "devise/shared/links" %>





                                
                            </div>
                        </div>
                    </div>
             

                </div>
            </div>
        </div>
