<!DOCTYPE html>
<html>
  <head>
    <title>Venta</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'icono.png' %>
  </head>

  <body>
  <% if user_signed_in?  %>
    <div class="wrapper">
        <div class="sidebar" data-color="orange" data-image="../../lib/assets/img/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


        <div class="sidebar-wrapper">
            <div class="logo">

                <a href="/" class="simple-text">
                    <%= image_tag("DondeNAchito1.jfif", :alt => "rss feed", :height =>"140", :width => "140") %>
                </a>
            </div>


            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="fa fa-pie-chart"></i>
                        <p>Inicio</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-home"></i>
                        <p>Cajeros</p>
                    </a>
                    <ul class="dropdown-menu" style="background-color: orange">
                        <li class="nav-item dropdown">
                            <a href="/people">
                                <i class="fa fa-book"></i>
                                <p>Listado</p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/people/new">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <p>Crear</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-table"></i>
                        <p>Finanzas</p>
                    </a>
                </li>
                <li>
                    <a href="/pedidos">
                        <i class="fa fa-file-text-o"></i>
                        <p>Pedido</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-flask"></i>
                        <p>Resumen del Día</p>
                    </a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-home"></i>
                        <p>Sucursal</p>
                    </a>
                    <ul class="dropdown-menu" style="background-color: orange">
                        <li class="nav-item dropdown">
                            <a href="/sucursals">
                                <i class="fa fa-book"></i>
                                <p>Listado</p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/sucursals/new">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <p>Crear</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <!-- Example single danger button -->

                            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <p><strong><%= current_user.email %></strong></p>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                            <p>
                                <a href="#" class="navbar-link">
                                    Perfil
                                </a>
                            </p>
                        </a>
                        </li>
                        <li class="nav-item dropdown">
                            <p>
                                  <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                            </p>
                        </li>
                    </ul>
                </li>



                        </li>

                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>

 <% end %>


        <%= yield %>
        <% if user_signed_in?  %>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

    </div>
    </div>
    <% end %>
  </body>

</html>
